.modal-container{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}