*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: nowrap; */
    background-image: url(./页面/images/bg-banner02.jpg);
    background-size: cover;
    height: 650px;
}

.scroll{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color:rgba(64, 75, 97, 0.9);
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 60px;
    /* background-color: black; */
    width: 100vw;
    transition: all 0.5s;
    z-index: 99;
}

.title{
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 45px;
}

.title-left{
    color: white;
    font-weight: 700;
}

.title-right{
    color: peru;
    font-weight: 700;
}

.header-right{
    display: flex;
    flex-direction: row;
    padding: 0 22px;
    /* width: 100vw; */
}

.header-nav{
    text-decoration: none;
    margin-left: 23px;
    color: white;
    font-size: 14px;
}

.header-nav:hover{
    color: peru;
    text-decoration: none;
}

#HOME{
    color: peru;
}

.header-btn{
    display: none;
}

.header-words{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words1{
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.words2{
    color: white;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 800px; */
    padding: 50px 0 50px 0;
    background-color: darkgray;
}

.middle-container-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-container-top-words1{
    color: #dbdbdb;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.middle-container-top-words2{
    color: yellow;
    text-align: center;
    width: 600px;
    margin-bottom: 30px;

}

.middle-container-bottom{
    display: flex;
    justify-content: center;
}

.middle-container-bottom-one{
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-left: 30px;
}

.one-top{
    /* display: flex; */
    font-size: 20px;
    color: #ffffff;
    width: 200px;
    line-height: 20px;
    margin-bottom: 10px;
}

.caps{
    font-size: 45px;
    color: #dbdbdb;
    font-weight: 700;
}

.one-middle{
    font-size: 12px;
    color:  #ffffff;
    margin-bottom: 10px;
}

.one-bottom{
    font-size: 12px;
    color: peru;

}

.bgc{
    background-color: white;
}

.works-bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px
}

.latest{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.latest-posted{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #ffffff;
}

.posted-right{
    display: flex;
    align-items: center;
}

.latest-readmore{
    display: flex;
    align-items: center;
}

.latest-readmore div{
    margin-right: 10px;
}


.latest>img{
    width: 100%;
}

.bgc-footer{
    background-color: #495569;
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.left-top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-span{
    margin: 0 120px 0 120px;
}

.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* align-items: center; */
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-container input{
    width: 46%;
}

.input-mid{
    width: 100%;
}

.input-bottom{
    width: 100%;
    height: 150px;
}

.btn{
    background-color: skyblue;
    font-weight: 700;
    color: white;
}

.move{
    transition: all 1.5s;
    transform: rotateY(0deg);
}

.move:hover{
    transform: rotateY(180deg);
}